<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edc.erp.common.mapper.StoreSkuMonthlySalesMapper">

    <select id="findSkuAverageDailySalesDaysListByStoreCode"
            resultType="com.edc.erp.common.entity.StoreSkuMonthlySales">
        select sku_code,monthly_sales from gc_store_sku_monthly_sales where store_code = #{storeCode} and biz_org_code = #{bizOrgCode}
        and sku_code in
        <foreach collection="skuList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>
