<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edc.erp.directly.distribution.mapper.OrdDirOrderDetailMapper">
    <!-- 结果集 -->
    <resultMap id="resultMap" type="com.edc.erp.directly.distribution.entity.OrdDirOrderDetail">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="orderId" column="order_id" jdbcType="BIGINT"/>
        <result property="goodsCode" column="goods_code" jdbcType="VARCHAR"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="barCode" column="bar_code" jdbcType="VARCHAR"/>
        <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
        <result property="goodsImage" column="goods_image" jdbcType="VARCHAR"/>
        <result property="specificationUnit" column="specification_unit" jdbcType="VARCHAR"/>
        <result property="distributionSpecification" column="distribution_specification" jdbcType="VARCHAR"/>
        <result property="distributionSpecificationNum" column="distribution_specification_num" jdbcType="NUMERIC"/>
        <result property="distributionSpecificationUnit" column="distribution_specification_unit" jdbcType="VARCHAR"/>
        <result property="smallSort" column="small_sort" jdbcType="VARCHAR"/>
        <result property="position" column="position" jdbcType="VARCHAR"/>
        <result property="distributionType" column="distribution_type" jdbcType="VARCHAR"/>
        <result property="quantity" column="quantity" jdbcType="NUMERIC"/>
        <result property="packageQuantity" column="package_quantity" jdbcType="NUMERIC"/>
        <result property="orderUnitPrice" column="order_unit_price" jdbcType="NUMERIC"/>
        <result property="orderAmount" column="order_amount" jdbcType="NUMERIC"/>
        <result property="originalPrice" column="original_price" jdbcType="NUMERIC"/>
        <result property="originaAmount" column="origina_amount" jdbcType="NUMERIC"/>
        <result property="activityType" column="activity_type" jdbcType="VARCHAR"/>
        <result property="activityUnitPrice" column="activity_unit_price" jdbcType="NUMERIC"/>
        <result property="activityNo" column="activity_no" jdbcType="VARCHAR"/>
        <result property="suggestedRetailPrice" column="suggested_retail_price" jdbcType="NUMERIC"/>
        <result property="isActivity" column="is_activity" jdbcType="INTEGER"/>
        <result property="isGift" column="is_gift" jdbcType="INTEGER"/>
        <result property="allowDistributionReturn" column="allow_distribution_return" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="goodsType" column="goods_type" jdbcType="VARCHAR"/>
        <result property="discountAmount" column="discount_amount" jdbcType="NUMERIC"/>
        <result property="baseGoodsCode" column="base_goods_code" jdbcType="VARCHAR"/>
        <result property="invoiceType" column="invoice_type" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="Base_Column_List">
        id,
        order_id,
        goods_code,
        goods_name,
        bar_code,
        tag_name,
        goods_image,
        specification_unit,
        distribution_specification,
        distribution_specification_num,
        distribution_specification_unit,
        small_sort,
        position,
        distribution_type,
        quantity,
        package_quantity,
        order_unit_price,
        order_amount,
        original_price,
        origina_amount,
        activity_type,
        activity_unit_price,
        activity_no,
        suggested_retail_price,
        is_activity,
        is_gift,
        allow_distribution_return,
        creator,
        create_time,
        updater,
        update_time,
        is_delete,
        goods_type,
        discount_amount,
        base_order_detail_id,
        base_goods_code,
          invoice_type
    </sql>

    <!-- 查询条件 -->
    <sql id="Base_Where_Clause">
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orderId != null">
                and order_id = #{orderId}
            </if>
            <if test="goodsCode != null and goodsCode != ''">
                and goods_code = #{goodsCode}
            </if>
            <if test="goodsName != null and goodsName != ''">
                and goods_name = #{goodsName}
            </if>
            <if test="barCode != null and barCode != ''">
                and bar_code = #{barCode}
            </if>
            <if test="tagName != null and tagName != ''">
                and tag_name = #{tagName}
            </if>
            <if test="goodsImage != null and goodsImage != ''">
                and goods_image = #{goodsImage}
            </if>
            <if test="specificationUnit != null and specificationUnit != ''">
                and specification_unit = #{specificationUnit}
            </if>
            <if test="distributionSpecification != null and distributionSpecification != ''">
                and distribution_specification = #{distributionSpecification}
            </if>
            <if test="distributionSpecificationNum != null">
                and distribution_specification_num = #{distributionSpecificationNum}
            </if>
            <if test="distributionSpecificationUnit != null and distributionSpecificationUnit != ''">
                and distribution_specification_unit = #{distributionSpecificationUnit}
            </if>
            <if test="smallSort != null and smallSort != ''">
                and small_sort = #{smallSort}
            </if>
            <if test="position != null and position != ''">
                and position = #{position}
            </if>
            <if test="distributionType != null and distributionType != ''">
                and distribution_type = #{distributionType}
            </if>
            <if test="quantity != null">
                and quantity = #{quantity}
            </if>
            <if test="packageQuantity != null">
                and package_quantity = #{packageQuantity}
            </if>
            <if test="orderUnitPrice != null">
                and order_unit_price = #{orderUnitPrice}
            </if>
            <if test="orderAmount != null">
                and order_amount = #{orderAmount}
            </if>
            <if test="originalPrice != null">
                and original_price = #{originalPrice}
            </if>
            <if test="originaAmount != null">
                and origina_amount = #{originaAmount}
            </if>
            <if test="activityType != null and activityType != ''">
                and activity_type = #{activityType}
            </if>
            <if test="activityUnitPrice != null">
                and activity_unit_price = #{activityUnitPrice}
            </if>
            <if test="activityNo != null and activityNo != ''">
                and activity_no = #{activityNo}
            </if>
            <if test="suggestedRetailPrice != null">
                and suggested_retail_price = #{suggestedRetailPrice}
            </if>
            <if test="isActivity != null">
                and is_activity = #{isActivity}
            </if>
            <if test="isGift != null">
                and is_gift = #{isGift}
            </if>
            <if test="allowDistributionReturn != null">
                and allow_distribution_return = #{allowDistributionReturn}
            </if>
            <if test="creator != null and creator != ''">
                and creator = #{creator}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updater != null and updater != ''">
                and updater = #{updater}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDelete != null">
                and is_delete = #{isDelete}
            </if>
            <if test="goodsType != null and goodsType != ''">
                and goods_type = #{goodsType}
            </if>
            <if test="discountAmount != null">
                and discount_amount = #{discountAmount}
            </if>
            <if test="baseGoodsCode != null and baseGoodsCode != ''">
                and base_goods_code = #{baseGoodsCode}
            </if>
            <if test="invoiceType != null and invoiceType != ''">
                and invoice_type = #{invoiceType}
            </if>
        </where>
    </sql>

    <!-- 查询直营订货单明细分页列表 -->
    <select id="findOrderDetailOutByPage" resultType="com.edc.erp.directly.distribution.model.out.OrderDetailOut">
        select id, order_id, goods_code, goods_name, bar_code, small_sort, tag_name, specification_unit,
        distribution_specification, distribution_specification_num, distribution_specification_unit,
        position, distribution_type, quantity, package_quantity, order_unit_price, order_amount, original_price,
        origina_amount, activity_unit_price, activity_no, suggested_retail_price, is_activity, is_gift,
        allow_distribution_return, creator, create_time, updater, update_time, is_delete, goods_type,
        real_unit_price, real_amount, base_goods_code, activity_type,invoice_type,
        case when base_goods_code is null then goods_code
        else concat(base_goods_code,goods_code)
        end as sort
        from ord_dir_order_detail
        <where>
            <if test="orderDetailIn.orderId != null">
                and order_id = #{orderDetailIn.orderId}
            </if>
            <if test="orderDetailIn.goodsCode != null and orderDetailIn.goodsCode != ''">
                and goods_code = #{orderDetailIn.goodsCode}
            </if>
            <if test="orderDetailIn.goodsName != null and orderDetailIn.goodsName != ''">
                and goods_name like concat ('%', #{orderDetailIn.goodsName}, '%')
            </if>
        </where>
        order by sort
    </select>

    <select id="sumExistsTotalPackageQuantityBySkuCodeAndOrderIdList" resultType="java.math.BigDecimal">
        select sum(package_quantity) from ord_dir_order_detail where goods_code = #{skuCode} and order_id in
        <foreach collection="orderIdList" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>
        and is_delete = 0
    </select>
    <select id="findTopOrderDetailListByOrderId"
            resultType="com.edc.erp.directly.distribution.model.out.AppTopDirOrderGoodsOut">
        select goods_name,goods_image from ord_dir_order_detail where order_id = #{orderId} and is_delete = 0 and is_gift = 0
        order by id desc limit #{topNum}
    </select>
    <select id="getCycleOrderedGoodsQty" resultType="java.math.BigDecimal">
        select ifnull(sum(quantity), 0)
        from ord_dir_order_detail odod
                 inner join  ord_dir_order odo on odod.order_id = odo.id and odo.is_delete = 0
        where odo.order_status_code != 'invalid' and odo.order_cycle_id = #{orderCycleId}
          and odo.source_code in ('manual','upLowDown')
          and odod.goods_code = #{goodsCode} and odod.is_gift = 0  and odod.is_delete = 0
    </select>
    <select id="sumOrderSkuQuantity" resultType="java.math.BigDecimal">
        select
        <!-- 散件 -->
        <if test="null != statisticalType and statisticalType == 1">
            sum(gd.quantity)
        </if>
        <!-- 整件 -->
        <if test="null != statisticalType and statisticalType == 2">
            sum(gd.package_quantity)
        </if>
        AS goodsQuantity
        from ord_dir_order_detail gd INNER JOIN gc_goods_logistics_config lc on lc.goods_code = gd.goods_code
        where gd.order_id in
        <foreach collection="orderIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and lc.statistical_type = #{statisticalType} and lc.biz_org_code = #{bizOrgCode}
    </select>
    <select id="batchSaveDirOrderDetail">
        insert into ord_dir_order_detail
        (order_id,goods_code,goods_name,bar_code,tag_name,goods_image,specification_unit,distribution_specification,distribution_specification_num,
        distribution_specification_unit,small_sort,position,distribution_type,quantity,package_quantity,order_unit_price,
        order_amount,original_price,origina_amount,activity_type,activity_unit_price,activity_no,suggested_retail_price,
        is_activity,is_gift,allow_distribution_return,creator,create_time,updater,update_time,is_delete,goods_type,discount_amount,real_unit_price,real_amount,base_goods_code,invoice_type
        )
        values
        <foreach collection="ordDirOrderDetailList" item="item" separator=",">
            (#{item.orderId},#{item.goodsCode},#{item.goodsName},#{item.barCode}, #{item.tagName},#{item.goodsImage}, #{item.specificationUnit},
             #{item.distributionSpecification},#{item.distributionSpecificationNum},#{item.distributionSpecificationUnit},#{item.smallSort},
           #{item.position},#{item.distributionType},#{item.quantity},#{item.packageQuantity},
            #{item.orderUnitPrice},#{item.orderAmount},#{item.originalPrice},#{item.originaAmount},#{item.activityType},#{item.activityUnitPrice},
            #{item.activityNo},#{item.suggestedRetailPrice},
            #{item.isActivity},#{item.isGift},#{item.allowDistributionReturn},#{item.creator},#{item.createTime},#{item.updater},
            #{item.updateTime},#{item.isDelete},#{item.goodsType},#{item.discountAmount},#{item.realUnitPrice},#{item.realAmount},#{item.baseGoodsCode},#{item.invoiceType})
        </foreach>
    </select>
    <select id="findStoreOrderQuantityByTruncationTime"
            resultType="com.edc.erp.directly.distribution.model.out.StoreOrderGoodsOut">
        select dd.goods_code,sum(dd.quantity) as totalQuantity from ord_dir_order_detail dd inner join ord_dir_order o on o.id = dd.order_id
        inner join ord_dir_order_cycle c on c.id = order_cycle_id
        where o.store_code = #{storeCode} and c.truncation_date_time = #{truncationTime} and o.order_status_code = 'submit' and o.is_delete = 0 and dd.is_delete = 0
        group by dd.goods_code
    </select>
</mapper>
