<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edc.erp.presale.mapper.OrdDisPresaleActivityStoreMapper">


    <!-- 所有字段 -->
    <sql id="Base_Column_List">
        id, presale_activity_id, store_code, store_name,creator, create_time, updater, update_time, is_delete
    </sql>

    <insert id="batchSavePresaleActivityStore">
        INSERT INTO ord_dis_presale_activity_store
        (presale_activity_id, store_code, store_name,creator, create_time, updater, update_time, is_delete)
        values
        <foreach collection="ordDisPresaleActivityStoreList" item="item" separator=",">
            (
            #{item.presaleActivityId},#{item.storeCode},#{item.storeName},#{item.creator},#{item.createTime},#{item.updater},#{item.updateTime},#{item.isDelete}
            )
        </foreach>
    </insert>
    <delete id="deleteByActivityId">
        delete from ord_dis_presale_activity_store where presale_activity_id = #{activityId}
    </delete>
</mapper>
