<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edc.erp.mapper.DisActivityMapper">
    
    <!-- 结果集 -->
    <resultMap  id="resultMap" type="com.edc.erp.entity.DisActivity">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
        <result property="bizOrgCode" column="biz_org_code" jdbcType="VARCHAR"/>
        <result property="specialPromotionOrderNo" column="special_promotion_order_no" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="goodsNum" column="goods_num" jdbcType="INTEGER"/>
        <result property="storeNum" column="store_num" jdbcType="INTEGER"/>
        <result property="activityStartTime" column="activity_start_time" jdbcType="TIMESTAMP"/>
        <result property="activityEndTime" column="activity_end_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="appPromotionLocation" column="app_promotion_location" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
        <result property="activityType" column="activity_type" jdbcType="VARCHAR"/>
    </resultMap>
  
    <!-- 所有字段 -->
    <sql id="Base_Column_List">
       id, org_code, biz_org_code, special_promotion_order_no, status, goods_num, store_num, activity_start_time, activity_end_time, remark, app_promotion_location, creator, create_time, updater, update_time, is_delete, activity_type    
    </sql>
    
     <!-- 查询条件 -->
     <sql id="Base_Where_Clause">
            <where>
                    <if test="id != null">
                    and id = #{id}
                </if>
                    <if test="orgCode != null and orgCode != ''">
                    and org_code = #{orgCode}
                </if>
                    <if test="bizOrgCode != null and bizOrgCode != ''">
                    and biz_org_code = #{bizOrgCode}
                </if>
                    <if test="specialPromotionOrderNo != null and specialPromotionOrderNo != ''">
                    and special_promotion_order_no = #{specialPromotionOrderNo}
                </if>
                    <if test="status != null and status != ''">
                    and status = #{status}
                </if>
                    <if test="goodsNum != null">
                    and goods_num = #{goodsNum}
                </if>
                    <if test="storeNum != null">
                    and store_num = #{storeNum}
                </if>
                    <if test="activityStartTime != null">
                    and activity_start_time = #{activityStartTime}
                </if>
                    <if test="activityEndTime != null">
                    and activity_end_time = #{activityEndTime}
                </if>
                    <if test="remark != null and remark != ''">
                    and remark = #{remark}
                </if>
                    <if test="appPromotionLocation != null and appPromotionLocation != ''">
                    and app_promotion_location = #{appPromotionLocation}
                </if>
                    <if test="creator != null and creator != ''">
                    and creator = #{creator}
                </if>
                    <if test="createTime != null">
                    and create_time = #{createTime}
                </if>
                    <if test="updater != null and updater != ''">
                    and updater = #{updater}
                </if>
                    <if test="updateTime != null">
                    and update_time = #{updateTime}
                </if>
                    <if test="isDelete != null">
                    and is_delete = #{isDelete}
                </if>
                    <if test="activityType != null and activityType != ''">
                    and activity_type = #{activityType}
                </if>
                </where>
     </sql> 
</mapper>
