<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edc.erp.disdeliveryorder.mapper.OrdDisDeliveryOrderSigningMapper">
    
    <!-- 结果集 -->
    <resultMap  id="resultMap" type="com.edc.erp.disdeliveryorder.entity.OrdDisDeliveryOrderSigning">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="erpStoreCode" column="erp_store_code" jdbcType="VARCHAR"/>
        <result property="disDeliveryOrderId" column="dis_delivery_order_id" jdbcType="BIGINT"/>
        <result property="shipmentWholePackageQuantity" column="shipment_whole_package_quantity" jdbcType="DECIMAL"/>
        <result property="shipmentCartonsQuantity" column="shipment_cartons_quantity" jdbcType="DECIMAL"/>
        <result property="shipmentLogisticsBoxQuantity" column="shipment_logistics_box_quantity" jdbcType="DECIMAL"/>
        <result property="wholePackageQuantity" column="whole_package_quantity" jdbcType="DECIMAL"/>
        <result property="cartonsQuantity" column="cartons_quantity" jdbcType="DECIMAL"/>
        <result property="logisticsBoxQuantity" column="logistics_box_quantity" jdbcType="DECIMAL"/>
        <result property="differencesRemark" column="differences_remark" jdbcType="VARCHAR"/>
        <result property="differencesType" column="differences_type" jdbcType="INTEGER"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="orgCode" column="org_code" jdbcType="VARCHAR"/>
        <result property="bizOrgCode" column="biz_org_code" jdbcType="VARCHAR"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
    </resultMap>
  
    <!-- 所有字段 -->
    <sql id="Base_Column_List">
       id, erp_store_code, dis_delivery_order_id, shipment_whole_package_quantity, shipment_cartons_quantity, shipment_logistics_box_quantity, whole_package_quantity, cartons_quantity, logistics_box_quantity, differences_remark, differences_type, signature, org_code, biz_org_code, creator, create_time, updater, update_time, is_delete    
    </sql>
    
     <!-- 查询条件 -->
     <sql id="Base_Where_Clause">
            <where>
                    <if test="id != null">
                    and id = #{id}
                </if>
                    <if test="erpStoreCode != null and erpStoreCode != ''">
                    and erp_store_code = #{erpStoreCode}
                </if>
                    <if test="disDeliveryOrderId != null">
                    and dis_delivery_order_id = #{disDeliveryOrderId}
                </if>
                    <if test="shipmentWholePackageQuantity != null">
                    and shipment_whole_package_quantity = #{shipmentWholePackageQuantity}
                </if>
                    <if test="shipmentCartonsQuantity != null">
                    and shipment_cartons_quantity = #{shipmentCartonsQuantity}
                </if>
                    <if test="shipmentLogisticsBoxQuantity != null">
                    and shipment_logistics_box_quantity = #{shipmentLogisticsBoxQuantity}
                </if>
                    <if test="wholePackageQuantity != null">
                    and whole_package_quantity = #{wholePackageQuantity}
                </if>
                    <if test="cartonsQuantity != null">
                    and cartons_quantity = #{cartonsQuantity}
                </if>
                    <if test="logisticsBoxQuantity != null">
                    and logistics_box_quantity = #{logisticsBoxQuantity}
                </if>
                    <if test="differencesRemark != null and differencesRemark != ''">
                    and differences_remark = #{differencesRemark}
                </if>
                    <if test="differencesType != null">
                    and differences_type = #{differencesType}
                </if>
                    <if test="signature != null and signature != ''">
                    and signature = #{signature}
                </if>
                    <if test="orgCode != null and orgCode != ''">
                    and org_code = #{orgCode}
                </if>
                    <if test="bizOrgCode != null and bizOrgCode != ''">
                    and biz_org_code = #{bizOrgCode}
                </if>
                    <if test="creator != null and creator != ''">
                    and creator = #{creator}
                </if>
                    <if test="createTime != null">
                    and create_time = #{createTime}
                </if>
                    <if test="updater != null and updater != ''">
                    and updater = #{updater}
                </if>
                    <if test="updateTime != null">
                    and update_time = #{updateTime}
                </if>
                    <if test="isDelete != null">
                    and is_delete = #{isDelete}
                </if>
                </where>
     </sql> 
</mapper>
